#navbar {
  height: 90px;
  font-family: sans-serif;
  list-style-type: none;
  margin: -20px -8px;
  background-color: #0078FF;
  position: sticky;
  /* border: 1px solid white; */
}

h1 img {
  position: absolute;
  left: 44%;
  height: 190%;
  border: 1px solid white;
  border-top: 0;
  top: -40px;
  z-index: -4;
}

.blk {
  margin: 0;
  left: -9px;
  height: 86vh;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  position: relative;
  top: 3px;
  z-index: -1;

}

a {
  text-decoration: none;
  text-align: center;
  padding-top: 3%;
  color: white;
}

a:hover {
  color: rgb(0, 18, 255);
}

li {
  display: inline-block;
  padding: 10px 16px;

}

.about {
  float: right;
  padding-top: 3%;
  padding-right: 13%
}

.contact {
  position: relative;
  float: right;
  padding-top: 3%;
  padding-right: 9%;
}

.home {
  float: left;
  padding-top: 3%;
  padding-left: 13%;
}

.paper {
  position: relative;
  padding-top: 3%;
  padding-left: 11%;
  text-decoration: none;
  text-align: center;
  color: white;
  padding-right: 49px;
}

#paps:hover {
  color: rgb(0, 18, 255);
  cursor: pointer;
}

.pop {
  display: block;
  position: relative;
  padding-top: 10px;
  background-color: #0078FF;
  padding-bottom: 10px;
  border-top: 2px solid white;
  top: 33px;
}

.hidden {
  /* opacity: 0; */
  z-index: -100;
  position: relative;
  display: block;
  top: -130px;
}

p img {
  position: absolute;
  width: 100%;
  margin-left: -8px;
  z-index: -2;
}

.mdquo {
  font-size: 80px;
  text-align: left;
  width: 45%;
  color: rgba(255, 255, 255, 0.8);
  word-wrap: normal;
  position: relative;
  top: 150px;
  font-family: sans-serif;
  line-height: 99px;
  margin: 0;
  font-style: italic;
}
